* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin:0;
    background: #30947b; 
}
/*body sets a uniform color and body2 overlays radial gradients in the corner for a spiffier look*/
body2 {
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
    radial-gradient(
      circle at top left,
      rgba(145, 65, 65, 0.617), 
      transparent 70vmin
    ),
    radial-gradient(
      circle at top right,
      rgba(21, 30, 99, 0.5), 
      transparent 70vmin
    ),
    radial-gradient(
      at bottom left,
      rgba(229, 198, 62, 0.644), 
      transparent 100vmin
    ),
    radial-gradient(
      at bottom right,
      rgba(255, 100, 100, 0.5), 
      transparent 100vmin
    );
}

main {
    margin-top: -10vmin;
    height: 84%;
    width: 34vmin;
    display: grid;
    grid-template-columns: 1fr  2.7fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #05100da4;
    box-shadow: 0.6vmin 0.6vmin 1vmin 0.5vmin rgba(21, 37, 38, 0.816);
    border-radius: 5%;
}

main > div {
    background: linear-gradient(0.24turn,#45331ce0, #517767,#8A7F71);
    border: 2px solid black;
    border-radius: 10%;
}

side > div {
    margin: 4px;
}

side {
    background: linear-gradient(to top right, #4C6657, #8680729f);
    box-shadow: 0.4vmin 0.4vmin 0.4vmin 0.4vmin rgba(10, 49, 53, 0.759);
    border-radius: 20%;
    margin: 51vmin 0 0 3vmin;
    width:14vmin;
    height: 28vmin;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 0.4vmin 1.2vmin;
}

.submit {
    grid-column: span 2;
    height: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .empty {
    background: url("https://w7.pngwing.com/pngs/737/396/png-transparent-mastermind-how-to-think-like-sherlock-holmes-221b-baker-street-his-last-bow-book-book-microphone-monochrome-sticker-thumbnail.png");
    background-size: cover;
} */
.selector {
    border-radius: 50%; 
    background-color: green;
}

#red {
    background: radial-gradient(circle at 65% 15%, rgb(234, 228, 228) 1px, rgba(255, 0, 0, 0.777) 3%, rgb(113, 24, 24) 60%, rgba(255, 0, 0, 0.789) 100%);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.742);
}
#green {
    background: radial-gradient(circle at 65% 15%, rgb(211, 198, 198) 1px, green 3%, rgb(8, 59, 8) 60%, green 100%);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.742);
}
#blue {
    background: radial-gradient(circle at 65% 15%, rgb(226, 232, 235) 1px, rgba(1, 202, 237, 0.854) 3%, darkblue 60%, rgba(1, 202, 237, 0.854) 100%);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.742);
}  
#yellow {
    background: radial-gradient(circle at 65% 15%, rgb(230, 230, 221) 2px, rgba(239, 239, 65, 0.819) 3%, rgb(127, 127, 2) 60%, rgba(239, 239, 65, 0.819) 100%);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.742);
}
#brown {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(129, 78, 39) 3%, rgb(62, 40, 22) 60%, rgb(138, 84, 43) 100%);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.742);
}
#orange {
    background: radial-gradient(circle at 65% 15%, white 1px, rgba(211, 137, 2, 0.816) 3%, brown 60%, rgba(211, 137, 2, 0.816) 100%);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.742);
}
#black {
    background: radial-gradient(circle at 65% 15%, rgb(220, 211, 211) 1px, rgb(82, 82, 82) 3%, rgb(0, 0, 0) 60%, rgb(220, 200, 200) 100%);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.742);
}
#white {
    background: radial-gradient(circle at 65% 15%, white 4px, white 3%, rgb(146, 146, 146) 60%, white 100%);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.742);
}

.peg-cell-clue{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: -5vmin 0 0 0;
}
.peg-cell-guess , #master-cell {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
peg {
    border-radius: 50%;
    width: 50%;
    height: 56%;
}
peg:hover {
    background:rgba(0, 0, 0, 0.22);
}

.empty{
    background: radial-gradient(closest-side, #615e5e, #343930, #1d1a18);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 90%;
    margin: 1vmin;
}
.new-game{
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ng-button , .sub-button {
    
    width: 15vmin;
    padding: 1vmin 1vmin;
    font-size: 2vmin;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: linear-gradient(0.25turn, #305c45ba, #745025ac, #7d775c);
    border: none;
    border-radius: 15px;
    box-shadow: 0.4vmin 0.4vmin 0.4vmin rgba(0, 0, 0, 0.742);
  }

/*have to seperate this button's css because it was behaving 
weirdly in firefox and needs its own settings*/
  .rmv-button {
    width: 10vmin;
    padding: 1vmin 1vmin;
    font-size: 2vmin;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: linear-gradient(0.25turn, #305c45ba, #745025ac, #7d775c);
    border: none;
    border-radius: 15px;
    box-shadow: 0.4vmin 0.4vmin 0.4vmin rgba(0, 0, 0, 0.742);
  }

  .ng-button:hover , .sub-button:hover , .rmv-button:hover {background-color: #000000}

  .ng-button:active , .sub-button:active , .rmv-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transform: translateX(2px);
}
.mystery{
    
        /* display: block; */
        background: radial-gradient(circle at 65% 15%, rgba(193, 200, 208, 0.851) 1px, rgba(22, 95, 100, 0.839) 3%, rgba(112, 38, 38, 0.921) 60%, rgba(227, 207, 238, 0.669) 100%);
        box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.742);
        /* border-radius: 90%; */
        margin: 1vmin;
        color: #fff;
        border-radius: 50%;
        /* width: 40px; */
        /* height: 40px; */
        line-height: 4vmin;
        text-align: center;
        font-size: 3.1vmin;
        font-family: Verdana;
        text-shadow: 0.4vmin 0.4vmin 0.4vmin rgba(22, 12, 12, 0.857);
    
}

